html {
  position: relative;
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../img/white_paperboard.png") repeat;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "pacifico", cursive;
  font-weight: normal; }

.title-icon {
  max-width: 45px;
  width: 2.5em;
  margin-left: 0.5em;
  vertical-align: middle; }

.title {
  display: inline-block;
  margin: 0;
  font-family: "pacifico", cursive; }

#map-canvas {
  height: 90%;
  width: 90%;
  margin: 2em auto 1em auto;
  border-radius: 8px; }
  #map-canvas img {
    max-width: none; }

#about-nav a {
  font-family: "pacifico", cursive;
  font-size: 1.25em; }

#about-modal .mochimachine {
  font-family: "pacifico", cursive;
  font-size: 1.35em; }

.reveal-modal {
  border-radius: 8px;
  color: #24180c; }
  .reveal-modal form {
    margin-top: 1em; }
  .reveal-modal h2 {
    font-family: "pacifico", cursive; }
  .reveal-modal #answer {
    display: none;
    color: #24180c;
    font-family: "pacifico", cursive;
    font-size: 1.25em;
    text-align: center; }

.footer {
  float: right;
  margin: 5px;
  color: #24180c; }
  .footer address {
    display: inline-block;
    margin-right: 5px; }
  .footer img {
    width: 30px; }

@media only screen and (min-width: 40.063em) {
  .title-icon {
    max-width: 70px;
    width: 5em; }

  .reveal-modal input {
    font-size: 1.1em; } }
